<div class="order">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Просмотр деталей заказа</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="/orders">Заказы</a></li>
                        <li class="breadcrumb-item active">Детали заказа</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="info-box mb-0" id="order-status">
                                <span class="info-box-icon"><i class="fas" id="order-status-icon"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Статус</span>
                                    <span class="info-box-number" id="order-status-value">ПОДТВЕРЖДЕН</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary card-outline">
                        <div class="card-header text-center">
                            Исполнитель
                        </div>
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src=""
                                     alt="User profile picture"
                                     id="freelancer-avatar">
                            </div>
                            <h3 id="freelancer-name" class="profile-username text-center">Имя Фамилия</h3>
                        </div>
                    </div>
                    <a id="edit-link" href="/orders/edit?id=" class="btn btn-warning w-100">Редактировать</a>
                    <button type="button" class="btn btn-danger w-100 mt-2" data-toggle="modal"
                            data-target="#modal-danger">Удалить
                    </button>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-calendar"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">План выполнения</span>
                                    <span class="info-box-number" id="scheduled">01.01.2025</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="far fa-calendar"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Дата выполнения</span>
                                    <span class="info-box-number" id="complete">---</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="far fa-calendar"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Дедлайн</span>
                                    <span class="info-box-number" id="deadline">01.01.2025</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Подробности заказа № <strong id="order-number"></strong></h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-list-ul mr-1"></i> Описание</strong>
                            <p id="description" class="text-muted">email</p>
                            <hr>
                            <strong><i class="fas fa-user mr-1"></i> Заказ создал</strong>
                            <p id="owner" class="text-muted">ФИО</p>
                            <hr>
                            <strong><i class="fas fa-dollar-sign mr-1"></i> Сумма заказа</strong>
                            <p id="amount" class="text-muted">1 000 000</p>
                            <hr>
                            <strong><i class="far fa-clock mr-1"></i> Добавлен на платформу</strong>
                            <p id="created" class="text-muted">------------</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>